.blok2_topik {
	display: flex;	
}
.cards {
	max-width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
}
.cards span {
	color: rgba(0, 0, 0, 0.7);
	padding: 0 15px 0 10px;
}
.region{
  max-width: 45%;
  overflow: hidden;
  margin: 0 0px 50px 0;
  /*padding-right: 40px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}
.region svg {
	-webkit-filter: drop-shadow(5px 5px 5px #C9908B);
            filter: drop-shadow(5px 5px 5px #C9908B);
  padding-bottom: 15px;
}
.myTopik {
	max-width: 100%;
}
.myTopik .swiper-wrapper {
	/*padding: 0 30px;*/
}
.card {
	max-width: 100%;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
  border-right: 10px solid #C9908B;
  margin: 0 5% 16px 5%;
  padding: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
	box-shadow: 3px 3px 10px #C9908B;
}
.card-title {
  font-family: 'Noto Sans KR', sans-serif;
  padding: 18px;
  font-size: 18px;
  color: #000;
}
.card-prices {
  color: #000;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: auto;
}
.price-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.price-org {
  padding: 16px;
}
.city{
  padding-top: 10px;
	display: -webkit-box;
}
.city ul {
	list-style: none;
	width: 90%;
  margin-top: -5px;
}
.city li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10px; 
}

.lokation {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 310px;
  max-height: 20px;
  margin-left: -5px;
  margin-top: 5px; 
  padding: 5px 10px;
  display: inline-block;
  overflow: hidden;
}
.lokation a {
  display: flex;
  text-decoration: none;
}
.lokation svg {
  padding-right: 5px; 
  -webkit-filter: none;
          filter: none;
}

@media screen and (min-width: 1050px) and (max-width: 1235px) {
	.card{
		margin: 0 11% 16px 11%;
	}
}
@media screen and (min-width: 650px) and (max-width: 1050px) {
  .region {
    max-width: 100%;
  }
  .cards {
    flex-direction: column;
  }
  .myTopik{
  	width: 100%;
  }
  .city ul{
		width: 75%;
	}
}
@media screen and (min-width: 600px) and (max-width: 650px) {
	.region {
    max-width: 100%;
  }
  .cards {
    flex-direction: column;
	}
	.myTopik{
		width: 100%;
	}
	.card{
		margin: 0 11% 16px 11%;
	}
	.city ul{
		width: 85%;
	}
}

/*mobile*/
@media screen and (max-width: 600px) {
	.bg_w{
		padding: 40px 40px 150px 40px;
	}
	.region {
    max-width: 100%;
  }
  .cards {
    flex-direction: column;
	}
	.myTopik{
		width: 100%;
	}
	.card{
		margin: 0 11% 16px 11%;
	}
	.card-title {
	  font-size: 14px;
	}
	.card-prices {
		font-size: 9.5px;
	}
	.city ul{
		max-width: 55%;
	}
}