.blok2_topik {
	display: flex;	
}
.blok2_topik iconify-icon {
	-webkit-filter: drop-shadow(5px 5px 5px #C9908B);
            filter: drop-shadow(5px 5px 5px #C9908B);
    display: block;
}
.cards {
	/*max-width: 1200px;*/
	width: 100%;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	justify-content: center;
}
.cards span {
	color: rgba(0, 0, 0, 0.7);
	padding: 0 15px 0 10px;
}
.region{
  width: 40%;
  margin: 0 1% 16px 1%;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}
.ukrain {
  /*border-right: 2px solid #C9908B;*/
}
.region svg {
	-webkit-filter: drop-shadow(5px 5px 5px #C9908B);
            filter: drop-shadow(5px 5px 5px #C9908B);
  padding-bottom: 15px;
}
.myTopik {
	width: 100%;
}
.myTopik .swiper-wrapper {
	padding: 0 30px;
}
.card {
	max-width: 600px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
  	border-right: 10px solid #C9908B;
  	margin: 0 15% 16px 4%;
  	padding: 0 10px 0 0;
  	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-flow: column;
  	flex-flow: column;
	box-shadow: 3px 3px 10px #C9908B;
}
.card-title {
  padding: 18px;
  font-size: 18px;
  color: #000;
}
.card-prices {
  color: #000;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-top: auto;
}
.price-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.price-org {
  padding: 16px;
}
.city{
	display: -webkit-box;
	
}
.city ul {
	list-style: none;
	width: 90%;
}
.city a {
	text-decoration: none;
}
@media screen and (min-width: 1055px) and (max-width: 1340px) {
	.card{
		margin: 0 20% 16px 10%;
	}
}
@media screen and (min-width: 650px) and (max-width: 1054px) {
  .region {
    width: 100%;
  }
  .cards {
    flex-direction: column;
  }
  .myTopik{
  	width: 100%;
  }
  .city ul{
		width: 75%;
	}
}
@media screen and (min-width: 600px) and (max-width: 650px) {
	.region {
    width: 100%;
  	}
  	.cards {
    flex-direction: column;
	}
	.myTopik{
		width: 100%;
	}
	.card{
		margin: 0 20% 16px 10%;
	}
	.city ul{
		width: 85%;
	}
}

/*mobile*/
@media screen and (max-width: 600px) {
	.bg_w{
		padding: 40px 40px 150px 40px;
	}
	.region {
    width: 98%;
  	}
  	.cards {
    flex-direction: column;
	}
	.myTopik{
		width: 100%;
	}
	.card{
		margin: 0 25% 16px 7%;
	}
	.card-title {
	  font-size: 14px;
	}
	.card-prices {
		font-size: 9.5px;
	}
	.city ul{
		width: 55%;
	}
}