.menu {
	font-size: 18px;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: flex-start;	
	position: fixed;
	height: auto;
	top: 0;
	z-index: 99999;
	box-sizing: border-box;
	/*делает все элементы блочными*/
	background: transparent;
	overflow: hidden;
}

.menu a {
	text-decoration: none;
	position: relative;
	transition: .4s ease-in-out;
	cursor: pointer;
	/*height: 22px;*/
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 20px 30px;
	text-decoration: none;
}

.menu .dropdown {
	display: flex;
	align-items: center;
}

.menu .icon {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	background: none;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}
.menu .icon svg {
	width: 25px;
	height: 25px;
}

.menu a:hover {
	text-shadow: 0 0 10px #C9908B, 0 0 20px #C9908B;
}

/*telefon*/
@media screen and (max-width: 850px) {
	.menu {
		font-size: 24px;
		padding: 30px;
		justify-content: center;
		align-items: center;
	}
	.menu a {
		padding: 20px 30px;
	}
	.menu.responsive {
		padding-top: 0;
		padding-bottom: 0;
	}
	.menu .icon {
		display: block;
	}
	.menu .icon .close {
		display: none;
	}
	.menu .dropdown {
		display: none;
		flex-direction: column;
	}
	.menu .dropdown svg {
		display: none;
	}
	.menu.responsive .dropdown {
		display: flex;
	}
}

@media screen and (max-width: 426px) {
	.menu .icon svg {
	width: 20px;
	height: 20px;
	}
}
