html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, head, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*vertical-align: baseline;*/
}
/*@font-face {
    font-family: Rosemary; 
    src: url(fonts/DroidSans.ttf); 
   }*/

* {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #fff;
}



.blok {
	/*font-family: Rosemary, 'Rosemary';*/
	background: url(images/bag.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

	display: block;
	font-weight: bold;
	font-size: 8vw;
	text-align: center;
	/*letter-spacing: -0.045em;*/
	padding: 200px 40px 300px;
	margin-top: -100px;
}


.menu {
	font-size: 18px;
	list-style: none;
	width: 100%;
	display: flex;

	justify-content: space-between;	
	position: fixed;
	height: auto;
	top: 0;
	z-index: 99999;
	box-sizing: border-box;
	/*делает все элементы блочными*/
	background: transparent;
	overflow: hidden;
}

.menu a {
	text-decoration: none;
	position: relative;
	transition: .4s ease-in-out;
	cursor: pointer;
	height: 22px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;

	float: left;
	text-align: center;
	padding: 22px 10px 22px 60px;
	text-decoration: none;
}

.menu .dropdown {
	display: flex;
	flex-direction: row;
}

.menu .icon {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	background: none;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}

.menu a:hover {
	text-shadow: 0 0 10px #C9908B, 0 0 20px #C9908B;
}

@media screen and (max-width: 600px) {
	.menu {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.menu.responsive {
		padding-top: 0;
		padding-bottom: 0;
	}
	.menu .icon {
		display: block;
	}
	.menu .dropdown {
		display: none;
		flex-direction: column;
	}
	.menu.responsive .dropdown {
		display: flex;
	}
}



.tag {
	margin-top: 20px;
}

.tag a {
	list-style-type: none;
	display: inline-block;
	line-height: 40px;
	padding: 0 50px;
	margin-right: 50px;

	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px;
}


.nazva {
	margin-top: -110px;
	padding-left: 50px;
	font-size: 36pt;
}

.nazva img{
	width: 0.6em;
	-webkit-filter: drop-shadow(0 0 15px #fbcbb4);
    filter: drop-shadow(0 0 15px #fbcbb4);
}
.nazva a:hover{
  -webkit-filter: drop-shadow(0 0 10px #fdb493);
  filter: drop-shadow(0 0 10px #fdb493);
}
.nazva2 {
	padding-left: 50px;
	font-size: 30pt;
}


.blok1_books {
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px 30px 0px 0px;

	margin-top: 30px;
	padding: 40px 40px 150px 40px;
}

.blok1_books img {
	list-style-type: none;
    display: inline-block;
    height: 165px;
    -webkit-filter: drop-shadow(0px 0px 20px #C9908B);
            filter: drop-shadow(0px 0px 20px #C9908B);
    border-radius: 15px;
    margin: 10px 0px;
}
.blok1_books a{
	text-decoration: none;
	text-align: center;
	display: inline-grid;
	/*display: table-cell;*/
	max-width: 160px;
	padding: 0 20px;
}
.blok1_books a:hover{
  -webkit-filter: drop-shadow(0 0 10px #7F4A45);
  filter: drop-shadow(0 0 10px #7F4A45);
}



.blok2_topik {
	background: linear-gradient(176.9deg, #FEFAF7 41.9%, #C9908B 116.02%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px 30px 0px 0px;

	margin-top: 30px;
	padding: 40px 40px 150px 40px;
}

.blok2_topik a {
	display: block;
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	border-radius: 15px;
	margin: 15px 40px 0 0;
	padding: 20px;
	max-width: 200px;
	text-decoration: none;
}
.blok_dop{
	background: linear-gradient(176.9deg, #FEFAF7 41.9%, #C9908B 116.02%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px 30px 0px 0px;

	margin-top: 30px;
	padding: 40px 40px 150px 40px;
}
.blok_dop a {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	margin: 15px 40px 0 0;
	padding: 20px;
	text-decoration: none;
}
.blok_dop a img{
	max-width: 1.5em;
}

.floor {
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 0px 20px #C9908B;
	padding: 40px;

	/*display: inline-block;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	max-width: 1440px;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	height: 150px;
}

.floor img{
	width: 0.6em;
}



.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide a {
	text-align: center;
}

.swiper-slide a img {
	margin: 0 auto 10px;
}

.swiper-next, 
.swiper-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;	
}

.swiper-prev {
	left: 0;
}

.swiper-next {
	right: 0;
}

.swiper-next svg, .swiper-prev svg {
	fill: white;
}

/*.avatar{
	text-align: right;
	height: 375px;
	position: absolute;
	z-index: -1;
	top: 100px;
}*/