html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big,cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, head, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*vertical-align: baseline;*/
}

* {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}


.blok {
	background: url(images/bag.jpg);
	background-repeat: no-repeat;
	background-size: 100% 180%;
	background-position: center;

	display: block;
	font-weight: bold;
	font-family: 'Gochi Hand', cursive;
	font-size: 80px;
	text-align: center;
	/*letter-spacing: -0.045em;*/
	padding: 250px 60px 330px;
	margin-top: -50px;
}
.blok h2 {
	font-family: 'Nanum Brush Script', cursive;
	font-size: 60px;
}


/*.tag {
	margin-top: 20px;
}

.tag a {
	list-style-type: none;
	display: inline-block;
	line-height: 40px;
	padding: 0 50px;
	margin-right: 50px;

	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px;
}*/


.nazva {
	margin-top: -110px;
	padding-left: 60px;
	font-size: 36pt;
	display: flex;
    align-items: center;
}
.nazva_b{
	margin-top: -110px;
	padding-left: 70px;
	font-size: 36pt;
	color: #000;
	display: flex;
    align-items: center;
}
.nazva a, .nazva svg {
	padding-left: 10px;
	-webkit-filter: drop-shadow(0 0 15px #fbcbb4);
    filter: drop-shadow(0 0 15px #fbcbb4);
}
.nazva a:hover{
  -webkit-filter: drop-shadow(0 0 10px #fdb493);
  filter: drop-shadow(0 0 10px #fdb493);
}
.nazva_b a, .nazva_b svg {
	padding-left: 10px;
	-webkit-filter: drop-shadow(0 0 15px #fdb493);
    filter: drop-shadow(0 0 15px #fdb493);
}
.nazva_b a:hover{
  -webkit-filter: drop-shadow(0 0 10px #fbcbb4);
  filter: drop-shadow(0 0 10px #fbcbb4);
}
.nazva a, .nazva_b a {
	display: flex;
    align-items: center;
}
.nazva2 {
	padding: 10px 0 30px;
	font-size: 24pt;
}

.bg{
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 50px 50px 0px 0px;

	margin-top: 10px;
	padding: 60px 90px 150px 90px;
}
.bg_w{
	background: linear-gradient(176.9deg, #FEFAF7 41.9%, #C9908B 116.02%);
	box-shadow: 0px 5px 20px #C9908B;
	border-radius: 30px 30px 0px 0px;

	margin-top: 30px;
	padding: 40px 90px 150px 90px;
}
.bg p {
	color: #fff;
}
.bg_w span, p {
	color: #000;
}


.floor {
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	padding: 40px;
	left: 0px;
	margin-top: -104px;
	z-index: 2;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
.floor_frond{
	background: linear-gradient(171.42deg, #C9908B 1.7%, #7F4A45 99.16%);
	box-shadow: 0px 5px 20px #C9908B;
	/*padding: 40px;*/
	margin-top: -104px;
	height: 104px;
	left: 0px;
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}


/*стрелочки слайдер*/
.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-slide a {
	text-align: center;
}
.swiper-slide a img {
	margin: 0 auto 10px;
}
.blok1_books .swiper-wrapper {
	margin: 0px 30px;
  	/* отступы для стрелок */
  	position: relative;
  	align-content: center;
}
.swiper-next_1, 
.swiper-prev_1,.swiper-next_2, 
.swiper-prev_2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;	
}
.swiper-prev_1, .swiper-prev_2{
	left: 0;
}
.swiper-next_1, .swiper-next_2{
	right: 0;
}


/*.main_bkbg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
    z-index: 9;
    box-sizing: border-box;
}
.main_bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.video, .release {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
    margin-top: 50px;
}
.image-set .video {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: 0.3s;
    z-index: 233;
    padding-bottom: 0;
}
.image-set .video img {
    width: 100%;
}
.textWrap .play {
    position: relative;
    width: 75px;
    height: 75px;
    transition: 0.3s;
}*/